<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Article Sentiment Analysis</title>
</head>

<body>

    <header>
        <div class="">
            <h1>Sentiment Analysis</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Enter website link">
                <input type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <h2>Article Analysis</h2>
        <section id="analysis">
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>