body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(241, 240, 240);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

#analysis {
    background-color:rgb(224, 219, 248);
}
